* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
}

.DW_bkg {
  background: url(./img/Background2.png);
  width: auto;
  height: 350px;
  background-position: 90% 50%;
}

/* .DW_bkg header {
  display: flex;
  justify-content: space-between;
} */

.DW_bkg header .logal {
  display: block;
  width: 20em;
  margin-left: auto;
  margin-right: auto;
}

.DW_bkg header ul {
  text-align: center;
  line-height: 1.5em;
}

.DW_bkg header a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.DW_bkg header a:visited {
  color: white;
}

.DW_bkg header a:hover {
  border-bottom: 2px solid white;
}

/* ====s2 */

.section2 {
  position: relative;
  margin-top: 10px;
  background-color: #f5f5f5;
  height: 150px;
  text-align: center;
}

.section2 .calender_form {
  padding-top: 30px;
}

.section2 .calender_form #from_label {
  margin-right: 15px;
}

.section2 .calender_form #to_label {
  margin-right: 33px;
}

.section2 .calender_form input {
  margin-bottom: 15px;
}

.section2 .calender_form #submit {
  border: 1px solid black;
  border-radius: 10em;
  width: 220px;
  height: 25px;
}

.section2 .calender_form #submit:hover {
  background-color: #e8e8e8;
}

/* =======s3 */

.section3 {
  position: relative;
  background-color: #e8e8e8;
  text-align: center;
  height: auto;
}

.section3 .s3header {
  padding-top: 1em;
}

.room_img {
  width: 10em;
}

.section3 .rooms {
  margin-top: 10px;
  padding-bottom: 5em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
}

.section3 .rooms a {
  cursor: pointer;
  text-decoration: none;
}

.section3 .rooms a:visited {
  color: black;
}

.section3 .rooms .card {
  margin-top: 15px;
}

.section3 .rooms .card:hover {
  transform: translateY(-10px);
  transition: all ease 0.3;
}

/* =======s4 */
.section4 {
  background-color: #f5f5f5;
}

.section4 img:hover {
  cursor: pointer;
  transform: translateY(-10px);
  transition: all ease 0.3;
}
.column img {
  float: left;
  width: 50%;
  padding: 30px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* ==== s5*/
#testimonials {
  background-color: #e8e8e8;
}

a {
  text-decoration: none;
}

#testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.testimonials-heading {
  letter-spacing: 1px;
  margin: 30px 0px;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonials-heading span {
  font-weight: bold;
  font-size: 1.3em;
  color: #252525;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.testimonials-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.testimonial-box {
  width: 500px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 20px;
  margin: 15px;
  cursor: pointer;
}

.profile {
  display: flex;
}

.name-user {
  display: flex;
  flex-direction: column;
}

.name-user strong {
  color: #3d3d3d;
  font-size: 1.1em;
  letter-spacing: 0.5px;
}

.name-user span {
  color: #979797;
  font-size: 0.8em;
}

.reviews {
  color: black;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.comments p {
  font-size: 0.9em;
  color: #4b4b4b;
}

.testimonial-box:hover {
  transform: translateY(-20px);
  transition: all ease 0.3s;
}

@media (max-width: 1360px) {
  .testimonial-box {
    width: 33%;
    /* padding: 10px; */
  }
}

@media (max-width: 790px) {
  .testimonial-box {
    width: 100%;
  }
  .testimonials-heading {
    font-size: 1.4rem;
  }
}

/* =======s7 */
.section7 {
  overflow: hidden;
  background-color: #f5f5f5;
  text-align: center;
  padding-top: 20px;
  height: 650px;
}

.section7 .section7_header {
  letter-spacing: 1px;
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 1.6em;
  color: #252525;
  text-transform: uppercase;
}

.section7 .desc {
  padding-top: 20px;
  font-size: 13px;
}

.section7_sub_header {
  padding-top: 10px;
  padding-bottom: 3px;
}

.form {
  margin: auto;
  /* .... */
  width: 70%;
  position: relative;
  height: 50px;
  margin-top: 50px;
}
.form #f_input {
  width: 100%;
  height: 100%;
  padding-top: 44px;
  border: none;
  outline: none;
  background-color: #f5f5f5;
  text-align: center;
}
.form #l_input {
  width: 100%;
  height: 100%;
  padding-top: 44px;
  border: none;
  outline: none;
  background-color: #f5f5f5;
  text-align: center;
}

.form #e_input {
  width: 100%;
  height: 100%;
  padding-top: 44px;
  border: none;
  outline: none;
  background-color: #f5f5f5;
  text-align: center;
}

.form #s_input {
  width: 100%;
  height: 100%;
  padding-top: 44px;
  border: none;
  outline: none;
  background-color: #f5f5f5;
  text-align: center;
}

.form .label-first-name {
  position: absolute;
  top: 15px;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 2px solid black;
}

.form .label-last-name {
  position: absolute;
  top: 75px;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 2px solid black;
}

.form .label-email {
  position: absolute;
  top: 135px;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 2px solid black;
}

.form .label-subject {
  position: absolute;
  top: 195px;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 2px solid black;
}

.form #textarea {
  margin-top: 25px;
  padding: 10px;
  resize: none;
  border-radius: 10px;
  width: 260px;
}

.form .submit {
  text-align: center;
}

.form #submit {
  margin-top: 5px;
  width: 250px;
  height: 40px;
  border: none;
  border-radius: 30px;
  background-color: #ff9494;
}

/* ====s8 */
.section8 {
  background-color: #e8e8e8;
}

.section8 .map {
  padding-top: 30px;
  text-align: center;
  padding-bottom: 20px;
}

/* ======s9 */
.section9 {
  background-color: #e8e8e8;
}
.section9 .footer ul {
  text-align: center;
  line-height: 1.5em;
}

.section9 .footer a {
  text-decoration: none;
  cursor: pointer;
}

.section9 .footer a:visited {
  color: white;
}

.section9 .footer a {
  color: black !important;
}

.section9 .footer a:hover {
  color: black;
  border-bottom: 2px solid black;
}

.section9 .footer p {
  padding-top: 10px;
  text-align: center;
  font-size: 10px;
  font-weight: 400;
}
.section9 .footer .image_group img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 30%;
}

/* for iphone x */
@media screen and (max-width: 376px) {
  .column img {
    width: 100%;
  }
  .review_cl {
    width: 91%;
  }
}
